.heading {
    width: 100%;
    padding-bottom: 50px;
    font-size: 30px;
}

.btns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.btns > div + div {
    margin-left: 30px;
}

.btns-wrapper  .btn + .btn {
    margin-left: 50px;
}


.btns-wrapper > .btns-block {
    padding: 25px 100px;
    background-color: #242B31;
}

section .new-container {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #242B31;
}

.paginations-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.pagination-list-block {
    padding: 130px 87px 130px 72px;

}
.pagination-list-block + .pagination-list-block {
    margin-left: 50px;  
}

.pagination-list-block.dark {
    background-color:  #13171A;
}

.scroll-wrapper.dark {
    background-color:  #242B31;
    padding: 60px 100px;
}

.scroll-arrows-wrapper > div:first-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 60%;
                flex: 0 0 60%;
}

.scroll-arrows-wrapper > div:last-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.scroll-wrapper + .scroll-wrapper {
    margin-left: 30px;
}

.arrow-wrapper.dark {
    margin-left: 30px;
    padding: 75px 85px;
    background-color: #242B31;
}
.selects-links-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}


.select-dark-block {
    padding: 200px 100px;
    background-color: #242B31;
}
.selects-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.selects-wrapper > .select-wrapper {
    margin-left: 30px;
}
.links-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    /* align-items: center; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.links-dark-block {
    margin-top: 30px;
    padding: 40px 35px;
    background-color: #242B31;
}

.link-with-arrow + .link-with-arrow {
    margin-left: 30px;
}

.links-white-block,
.links-blue-block {
    margin-top: 30px;
}

header {
    position: relative !important;
}

.pagination-column {
    position: relative !important;
    top: auto !important;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
    left: auto !important;
}