.sb-section-top .slider-wrapper {
    bottom: auto;
    left: auto;
    position: absolute;
    right: 0;
    width: 82.5%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   /*  -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear; */
    background: #13171A;
}
.sb-section-top .slider-slide  {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}
.sb-section-top .slider-slide:not(.active) {
    display: none;
}

.sb-section-top .slider-slide:before,
.sb-section-top .slider-slide:after  {
    content: '';
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: calc(100% + 1px);
    height: 100%;
}
.sb-section-top.sb-section-dark .slider-slide:before {
    background: rgba(36, 43, 49, .75);
}
/* .sb-section-top.sb-section-dark .slider-slide:after {
    z-index: -1;
    background: #13171A;
}  */

.sb-section-top .sb-description-wrapper {
    height: 100%;
    padding-top: 0 !important;
    -webkit-box-orient: vertical;
    z-index: 1;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}


.sb-section-top  h2.heading {
    font-size: 144px;
    line-height: 110%;
    letter-spacing: 0.07em;
    margin-left: -.5vw !important;
}

.sb-section-top  .sb-description-block {
    -webkit-box-orient: vertical;
    z-index: 1;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: flex-start;
   /*  position: relative; */
} 

.sb-section-top  .sb-description-wrapper .link-with-arrow {
    right: -24px;
}

.sb-section .sb-section-tabs {
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    width: calc(100% - 10vw);
    margin: 0 auto;
    position: relative;
}
.sb-section .tabs-contents {
    margin-top: -5vw;
    width: 100%;
}
.sb-section .tab-content > h3 {
    width: 100%;
    padding-bottom: 50px;
}
.sb-section .tab-content:not(.active) {
    display: none;
}
.sb-section .tab-content > .tab-content-img {
    max-width: 686px;
    width: 75%;
    height: 20vw;
   
}
.sb-section.sb-section-dark .tab-content > .tab-content-img {
  background: #13171A;
}

@media screen and (min-width: 1921px) {
    .sb-section .tab-content > .tab-content-img {
        max-width: none;
        width: 70%;
        height: 24vw;
    }
    .sb-section .tab-content-block > .tab-content-img {
        height: 10vw;
    }
}

.sb-section .tab-content .tab-content-img .img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sb-section .tab-content-block {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 50px;
}
.sb-section .tab-content-block > .tab-content-img {
    width: 100%;
    max-height: 264px;
    height: 14vw;
/*     background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    margin-bottom: 32px;
} 
.sb-section.sb-section-dark .tab-content-block > .tab-content-img {
    background: #13171A;
}

.sb-section .tabs-switchers {
    position: absolute;
    top: auto;
    left: 0;
    right: auto;
    bottom: 7%;
    width: 100%;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.sb-section .sb-description-tabs > .new-container {
    height: 100%;
}
.sb-section .tab-switcher {
    width: 20%;
    position: relative;
}
.sb-section .tab-switcher:after {
    content: '';
    position: absolute;
    bottom: -14px;
    height: 2px;
    width: 100%;
    left: 0;
    background: #ffffff;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.sb-section .tab-switcher.active:after {
    opacity: 1;
}

.sb-section .tab-switcher > a {
    color: #FFFFFF;
    opacity: .5;
     font-size: 20px;
    line-height: 120%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.sb-section .tab-switcher:not(.active) > a:hover,
.sb-section .tab-switcher:not(.active) > a:focus,
.sb-section .tab-switcher:not(.active) > a:active,
.sb-section .tab-switcher.active > a {
    opacity: 1;
}



@media screen and (max-width: 1440px) {
    .sb-section-top .slider-wrapper {
        width: 72%;
    }
    .sb-section-top h2.heading {
    font-size: 100px;
} 

.sb-section-top  .sb-description-wrapper .link-with-arrow {
  /*   right: 4%; */
    bottom: 6%;
} 

.sb-section .sb-section-tabs {
    width: 100%;
}
.sb-section .tab-content > h3 {
    padding-bottom: 25px;
}
.sb-section .tab-content > .tab-content-img {
    width: 58%;
    max-width: none;
    height: 23vw;
}
.sb-section .tab-content-block > .tab-content-img {
    max-height: none;
    height: 16vw;
    max-height: 204px;
}
.sb-section .tabs-switchers {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sb-section .tab-switcher {
    width: auto;
    padding-right: 60px;
}
.sb-section .tab-switcher + .tab-switcher {
    margin-left: 30px;
}

.sb-section .tab-switcher:last-child {
    padding-right: 50px;
}

.sb-section .tab-switcher > a {
    font-size: 18px;
    line-height: 120%;
}

}

@media screen and (max-width: 1199px) {
    .sb-section-top .sb-description-wrapper {
        min-height: 100vh;
    }
     .sb-section-top .sb-description-block {
         position: absolute;
         
     }
/*      .ios.mobile .sb-description-block,
     .ios.tablet .sb-description-block {
        padding-bottom: 10vh;
     } */
    .sb-section-top .slider-wrapper{
        width: 70%;
    }
    .sb-section-top .sb-description-wrapper .link-with-arrow {
        right: 20px;
    }
    .sb-section-top .sb-bg-wrapper {
        width: 69%;
        background-position:  0 0;
    }
   .sb5-section:before, 
    .sb5-section:after {
        content: none !important;
    }
   .sb-section .sb5-description-wrapper {
       padding-bottom: 0 !important;
   }
    .sb-section .sb-section-tabs {
        width: calc(100% - 50px);
        margin: 0;
         min-height: 810px;
        width: 100%;
        padding-top: 100px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .sb-section .tab-content > .tab-content-img {
        height: 27vw;
    }
    .sb-section .tab-content-block {
        padding-left: 30px;
    }
    .sb-section .tab-content-block > .tab-content-img {
        height: 18.7vw;
        margin-bottom: 0;
    }
    .sb-section .tab-content {
         position: relative;
     }
    .sb-section .tab-content .link-with-arrow {
        position: absolute;
        left: 0;
        bottom: -70px;
    }
    .sb-section .tabs-switchers {
        display: block;
        white-space: nowrap;
        overflow-x: auto;
        position: relative;
        bottom: 0;
        margin: 0 -70px;
        width: calc(100% + 140px);
        margin-top: 170px;
        padding: 0 70px 30px;
        border-bottom: none;
    }
/*     .sb-section .tabs-switchers:before  {
        content: '';
        position: absolute;
        width: calc(100% - 140px);
        height: 1px;
        background: rgba(255, 255, 255, 0.3);
        left: 50%;
        transform: translateX(-50%);
        bottom: -15px;
    } */
    .sb-section .tab-switcher {
        display: inline-block;
        vertical-align: middle;
    }
    .sb-section .tab-content > h3 {
        min-height: 85px;
    }
    .sb-section .tab-switcher + .tab-switcher {
        margin-left: 0;
    }
/*     .sb6-section {
        min-height: 1024px;
    } */
}

@media screen and (max-width: 767px) {
    .sb-section-top h2.heading {
        font-size: 60px;
        line-height: 110%;
        margin-bottom: 30px;
    }

    .sb-section-top h3.heading {
        font-size: 14px;
    }

      .sb-section-top .sb-description-block {
            padding-bottom: 10vh;
      }
    .sb-section-top .sb-description-wrapper .link-with-arrow {
        left: 0;
        right: auto;
        bottom: 20%;
    }
    .sb-section-top .slider-wrapper {
        width: 80%;
    }
    .sb-section .sb-section-tabs {
        padding: 80px 0;
        min-height: auto;
    }
    .sb-section .tabs-contents {
        margin-top: 70px;
    }
    .sb-section .tab-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .sb-section .tab-content > .tab-content-img {
        width: 100%;
    }
    .sb-section .tab-content > h3 {
        padding-bottom: 20px;
    }
    .sb-section .tab-content > .tab-content-img {
        height: 50vw;
    }
    .sb-section .tab-content-block {
        padding-left: 0;
        width: 60%;
        margin-top: 20px;
    }
    .sb-section .tab-content-block > .tab-content-img {
        height: 33.5vw;
    }
    .sb-section .tab-switcher {
        padding-right: 14%;
    }
    .sb-section .tabs-switchers {
        margin: 140px -30px 0;
        padding: 0 30px 30px;
        width: calc(100% + 60px);

    }
    .sb-section .tab-content > h3 {
        min-height:auto;
}
}
@media screen and (max-width: 359px) {
    .sb-section .tabs-switchers {
        margin: 140px -20px 0;
        padding: 0 20px 30px;
        width: calc(100% + 40px); 
    }
}